parameters:
	ignoreErrors:
		-
			message: '#^Function apply_filters not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Base/Post.php

		-
			message: '#^Function esc_html not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Base/Post.php

		-
			message: '#^Function get_stylesheet_directory not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Base/Post.php

		-
			message: '#^Function get_template_directory not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Base/Post.php

		-
			message: '#^Function get_the_title not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Base/Post.php

		-
			message: '#^Method Clubdeuce\\Wpmvc_Redux\\Base\\Post\:\:get_post\(\) has invalid return type WP_Post\.$#'
			identifier: class.notFound
			count: 1
			path: src/Base/Post.php

		-
			message: '#^Function register_taxonomy not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Controllers/Taxonomy.php
