includes:
  - phpstan-baseline.neon

parameters:
  level: 0
  paths:
    - src
  inferPrivatePropertyTypeFromConstructor: true
  checkExplicitMixed: false
  ignoreErrors: # Ignore errors related to missing WordPress functions
    - messages:
      - '#Function add|remove_action not found\.#'
      - '#Function register_post_type not found\.#'
      identifier: function.notFound
    - messages:
      - '#unknown class WP_Post#'
      - '#invalid type WP_Post#'
      - '#invalid return type WP_Post#'
      identifier: class.notFound
